body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  border: 1px solid black;
  position: fixed;
  bottom: 0;
}

.student{
  display: flex;
  justify-content: space-around;
}

.admin{
  display: flex;
  flex-direction: column;
  margin:200px;
  margin-left: 500px;
  margin-right: 500px;
}
